[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
requests = "*"
pillow = "*"
qrcode = "*"
beautifulsoup4 = "*"
html5lib = "*"
lxml = "*"
pyexecjs = "*"

[requires]
python_version = "3.8"
