[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = false

[dev-packages]
pylint = "*"

[packages]
requests = "*"
pillow = "*"
qrcode = "*"
beautifulsoup4 = "*"
html5lib = "*"
lxml = "4.6.2"
pyexecjs = "*"
pyppeteer = "*"

[requires]
python_version = "3.8"
