[[source]]
name = "pypi"
url = "https://mirrors.nju.edu.cn/pypi/web/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
pillow = "*"
qrcode = "*"
beautifulsoup4 = "*"
html5lib = "*"
lxml = "*"
pyexecjs = "*"

[requires]
python_version = "3.6"
